@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900");
@import url(/assets/css/board.css);

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: url(/assets/img/play-bg.webp);

  margin: 0;
}

.App {
  --background-image: url(/assets/img/board-bg.avif);

  font-family: sans-serif;
  text-align: center;
  user-select: none;
}

.game-action {
  --box-shadow-color-1: rgba(0, 0, 0, 0.25);
  --box-shadow-color-2: rgba(0, 0, 0, 0.12);
  --box-shadow-color-3: rgba(0, 0, 0, 0.17);
  --box-shadow-color-4: rgba(0, 0, 0, 0.09);

  padding: 5px 15px 10px;

  color: #eee;
  font-size: 40px;
  line-height: 0.9;

  cursor: pointer;

  border: none;
  border-radius: 5px;

  background: var(--background-image);
  background-position: center;
  background-size: stretch;
  background-repeat: no-repeat;

  box-shadow: var(--box-shadow-color-1) 0px 4px 5px,
    var(--box-shadow-color-2) 0px -4px 10px,
    var(--box-shadow-color-2) 0px 1px 3px, var(--box-shadow-color-3) 0px 2px 3px,
    var(--box-shadow-color-4) 0px -3px 5px;
}
